.container,
.container * {
  font-family: "Pretendard Variable";
}

.container h2 {
  text-align: center;
  margin-block: 3rem;
}

.tableCon > div {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-dark);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

.tableCon > div:hover {
  background: #1d1d1d;
}

.tableCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.table {
  width: 80%;
  border-collapse: collapse;
}

.col10 {
  width: 10%;
}

.col15 {
  width: 15%;
}

.col60 {
  width: 60%;
}

.table tr {
  border-bottom: 1px solid var(--gray-dark);
}

.table thead tr {
  border-top: 1px solid var(--gray);
  font-weight: 600;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover td {
  background: #1d1d1d;
}

.table td {
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;
}

.table tbody td {
  color: #bab5b5;
}

.table td:nth-child(2):not(thead td) {
  text-align: left;
}
